body{
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.navBar{
    background-color: #6279b8;
    color:#000000;
    padding: 10px 0;
}

.container{
    max-width: 100%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Titulo{
    margin: 20px;
}

.home{
    text-align: center;
    max-width: 70px;
    max-height: 70px;
    border-radius: 20%;
    background-color: #8EA4D2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}