* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

#contentPage {
    width: 100%;
    height: 100vh;
}

#navBar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #6279b8;
}

.itens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleNavbar {
    width: 20%;
    color: #fff;
    margin-left: 1rem;
}

#containerItens {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}

.item img {
    width: 1.5rem;
    height: 1.5rem;
}

.item span {
    margin-top: 0.5rem;
}

#containerContent {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#titleContent {
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ea4d2;
    color: #fff;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.contentBox {
    width: 50%;
    height: auto;
    min-height: 20%;
    max-height: 90%;
    background-color: #ececec;
    border-radius: 5px;
    margin-top: 2rem;
}

.contentBox span {
    width: 100%;
    min-height: 20%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}